

body{
    color: white;
    background-image: linear-gradient(to right, #2b15e0 0%, #2adedb 100%); 
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}

a{
    color: #B9E02B;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 150%;
    border: 5px solid #B9E02B;
}

.center{
    text-align: center;
}

h1{
    color: #B9E02B;
}

h2{
    color: #E0A32B;
}

h3{
    color: #B9E02B;
    padding: 5px;
    background-image: linear-gradient(to right, #aed423bb, transparent);
}

p{
    text-indent: 30px;
    text-align: justify;
}

footer img{
    height: 40px;
    width: 40px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin: 2px;
    text-indent: 0px;
}

.container{
    padding: 0px 50px;
}

nav a:hover{
    color: #af46e4;
    background-color: #B9E02B;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    text-decoration: underline;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.411);
}

footer p:hover{
    color: #af46e4;
}